<div class="flex flex-col justify-center items-center w-full">
 <div class="bg-base-100 p-4 rounded-md w-full max-w-2xl">
 <div data-search-target="loading" class="loading hidden flex justify-center  items-center ">
        <div class="flex flex-col items-center gap-2">
          <div class="animate-spin rounded-full h-12 w-12 border-b-4 border-primary/60" > </div>
        </div>
  </div>
 <% if (@articles.length > 0) %>
  <% @articles.each do |article| %>
    <div class="card mt-3">
      <div class="card-header">
        <h5 class="card-title"><%= highlight(article.title, query) %></h5>
      </div>
      <div class="card-body">
        <p class="card-text"><%= highlight(article.body, query) %></p>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    No Results Found
  </div>
<% end %>
  </div>
